on:
  push:
    paths:
      - 'ci-dex/**'
      - '.github/workflows/**'

name: Retrovert
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GitHub_PAT }}
      # - name: Checkout submodules
      #   uses: actions/checkout@v2
      #   with:
      #     repository: srz-zumix/ci-dex-review-contents
      #     token: ${{ secrets.GitHub_PAT }}
      #     path: ci-dex/contents
      - name: Checkout submodules
        env:
          GIT_TOKEN: ${{ secrets.GitHub_PAT }}
        run: |
          sed -i "s|git@github.com:srz-zumix/ci-dex-review-contents.git|https://srz-zumix:${GIT_TOKEN}@github.com/srz-zumix/ci-dex-review-contents.git|g" .gitmodules
          git submodule init
          git submodule sync
          git submodule update
      # convert
      - uses: docker://srzzumix/review-retrovert
        with:
          args: "convert ci-dex/config.yml ci-dex-r"
      # 印刷版
      - uses: docker://srzzumix/review-retrovert
        with:
          entrypoint: bash
          args: -c "cd ci-dex-r; rake preproc pdf"
      - name: copy artifacts
        run: |
          mkdir artifacts
          cp ci-dex-r/ci-dex.pdf ./artifacts
      # # convert
      # - uses: docker://srzzumix/review-retrovert
      #   with:
      #     entrypoint: bash
      #     args: -c "review-retrovert merge ci-dex/config-e.yml ci-dex-r"
      # # 電子書籍版
      # - uses: docker://srzzumix/review-retrovert
      #   env:
      #     config: config-e.yml
      #   with:
      #     entrypoint: bash
      #     # args: -c "cd ci-dex-r; rake preproc pdf"
      #     args: -c "cd ci-dex-r; rake preproc all"
      # - name: copy artifacts
      #   run: |
      #     cp ci-dex-r/ci-dex.pdf ./artifacts/e-ci-dex.pdf
      #     cp ci-dex-r/ci-dex.epub ./artifacts/e-ci-dex.epub || true
      - name: Extract branch name
        id: extract_branch
        run: |
          NAME=${GITHUB_REF#refs/heads/}
          echo "##[set-output name=branch;]$(echo ${NAME#refs/tags/})"
      # - uses: actions/upload-artifact@v1
      #   with:
      #     name: ci-dex-r
      #     path: ci-dex-r/ci-dex.pdf
      - name: Upload to Google Drive
        uses: satackey/action-google-drive@v1
        with:
          upload-from: ./artifacts
          upload-to: /BOOK/techbookfest/ci-dex-retrovert/${{ steps.extract_branch.outputs.branch }}
          skicka-tokencache-json: ${{ secrets.SKICKA_TOKENCACHE_JSON }}
          google-client-id: ${{ secrets.SKICKA_CLIENT_ID }}
          google-client-secret: ${{ secrets.SKICKA_CLIENT_SECRET }}
      - uses: srz-zumix/actions-book-image-check@master
        with:
          path: ./ci-dex-r/images
          formats: "JPEG"
      - name: Syntax
        run: |
          cd ./ci-dex-r
          ! find . -name "*.re" | xargs ! grep -one "@<href>{[^}]*#[^}]*}"
      - name: Notify slack
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: pullreminders/slack-action@v1.0.9
        with:
          args: '{\"channel\":\"CSYR0PEHW\",\"text\":\"Upload new retrovert pdf!!\"}'
      - name: Notify slack (fail)
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: pullreminders/slack-action@v1.0.9
        with:
          args: '{\"channel\":\"CSYR0PEHW\",\"text\":\"<!here> (retrovert) fail https://github.com/srz-zumix/ci-dex-book/actions\"}'
